.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(120deg, #dff5f3 40%, white 60%);
  box-sizing: border-box;
  overflow: hidden; /* opțional - previne scroll dacă conținutul explodează */
}

.animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
