.learning-modules-page {
  display: grid;
  gap: 20px;
  padding: 20px;
  height: 100vh;
  width: 1500px;
  box-sizing: border-box;
  margin-left: 90px;
}

.lm-navbar {
  height: 100%;
}

.lm-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  color: #212121;
   margin-left: 30px;
}

.lm-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.filter-button {
  padding: 8px 15px;
  border-radius: 12px;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-button.active,
.filter-button:hover {
  background-color: #181818;
  color: #fff;
}

.lm-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
